<% provide(:title, 'Manage ' + @generator.name) %>
<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h1><%= link_to @generator.name, @generator %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-10 medium-centered columns">
    <h2>Ipsums</h2>
    <table> 
      <thead> 
        <tr> 
          <th width="600">Ipsum Content</th> 
          <th width="150">Delete</th> 
          <th width="150">Approve</th> 
        </tr> 
      </thead> 
      <tbody> 
        <%= render @generator.lorem_ipsums %>
      </tbody> 
    </table>
  </div>
</div>
<div class="row">
  <div class="medium-5 medium-centered columns">
    <h2>Edit</h2>
    <%= form_for @generator, :html => { multipart: true } do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :tagline %>
      <%= f.text_field :tagline %>

      <%= f.label :sub_tagline %>
      <%= f.text_field :sub_tagline %>

      <%= f.label :logo %>
      <%= f.file_field :logo %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.label :bg_image %>
      <%= f.file_field :bg_image %>

      <%= f.submit "Update Ipsum Generator", class: "button small" %>
    <% end %>
  </div>
</div>