<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if signed_in? %>
      <d1 class="sub-nav">
        <dt>ADMIN MODE</dt>
      </d1>
    <% end %>

    <%= yield %>

    <% if signed_in? %>
      <d1 class="sub-nav">
        <dt>ADMIN MODE</dt>
        <dd><%= link_to 'Dashboard', root_path %></dd>
        <% if @generator %>
          <dd><%= link_to 'Manage this Generator', edit_generator_path(@generator) %></dd>
        <% end %>
        <dd><%= link_to 'New Generator', new_generator_path %></dd>
        <dd><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></dd>
      </d1>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag "application" %>
  </body>
</html>